POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=green_user
POSTGRES_PASSWORD=green_pass
POSTGRES_DB=green_premium

MONGO_URI=mongodb://green_user:green_pass@localhost:27017/?authSource=admin
MONGO_DB=green_premium

NOMINATIM_USER_AGENT=green_premium_nci_2026

SONITUS_USER=dublincityapi
SONITUS_PASS=Xpa5vAQ9ki
